pydantic==2.1.1
asyncpg==0.28.0
psycopg2-binary==2.9.7
SQLAlchemy==2.0.20
PyYAML
requests
beautifulsoup4
tqdm
pandas
openpyxl
seaborn
Jinja2
matplotlib
xlrd
chardet
pyexcel 
pyexcel-xls 
pyexcel-xlsx
plotly
nbformat
pydantic_settings